#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.title {
  color: tomato;
  font-size:20px;
  border-bottom: 3px double tomato;
  padding: 1em;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.toggle-box {
  transition: all 0.3s ease;
  width: 200px;
  height: 200px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border:1px solid #888;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}
.toggle-box.light {
  background-color: #f3f4f6;
  color: #1f2937;
}
.toggle-box.dark {
  background-color: #1f2937;
  color: #f3f4f6;
}